font {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #bd87fcaa;

}

h1,
h2 {
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px #1f1f1f;
    margin: 100px 100px 100px;
    color: #c799fcaa;
    border: 0.5rem solid #c29fe9aa;
}

p,
#antrosEtGatus,
figcaption {
    text-align: center;
    margin: 100px 100px 100px;
    color: #c392fcaa;
    background-color: #1f1f1f;
    padding: 10px;
    margin: 100px 100px 100px;
    border-radius: 1, 5em;
    border: 0.5rem dotted #c29fe9aa;

}

#listaDeGatos {
    text-align: center;
    background-color: thistle;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: url("../PATH_De_Arquivos/d7a75a6e-fb27-409c-b1bd-f2c4975a8e1d.png");
}

.fotoGatoVetorial {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

iframe,
audio,
video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

#antrosEtGatus:link {
    color: rgb(153, 0, 255);
}

#antrosEtGatus:visited {
    color: rgb(236, 114, 0);
}

#antrosEtGatus:hover {
    color: rgb(234, 0, 255);
}

#antrosEtGatus:active {
    color: rgb(72, 1, 130);
}

#antrosEtGatus:focus {
    color: rgb(64, 0, 67);
}

header {
    background-color: #1f1f1f;
    padding: 10px;
    margin: 100px 100px 100px;
    color: #c799fcaa;
    border: 0.5rem solid #c29fe9aa;
}

footer {
    background-color: #1f1f1f;
    padding: 10px;
    margin: 100px 100px 100px;
    color: #c799fcaa;
    border: 0.5rem solid #c29fe9aa;
}